# Analizando datos de un libro de Excel con Python
!pip install pandas
!pip install openpyxl
!pip install xlsxwriter

# Lectura del libro de Excel y almacenamiento en dataframe

In [11]:
import pandas as pd

In [15]:
excelPath = r"dataset.xlsx"
dataframe = pd.read_excel(excelPath, "Ventas")
#print(dataframe)
#dataframe.style

# Calcular el tital de ventas y equipos vendidos

In [21]:
totalSales = dataframe["Total"].sum()
#totalSales
# Calcular el total de filas
totalUnits = len(dataframe.index)
#totalUnits

In [27]:
print(f"Unidades vendidas: {totalUnits}")
print("Unidades totales: " + "${:0,.2f}".format(totalSales))

Unidades vendidas: 939
Unidades totales: $2,904,375,461.46

In [29]:
startMessage = "Ventas totales ${sales:0,.2f} y Unidades vendidas {units}".format(sales=totalSales, units=totalUnits)
print(startMessage)

Ventas totales $2,904,375,461.46 y Unidades vendidas 939

# Convertir a DataFrame

In [37]:
valuesDict = {"Ventas totales:" :[totalSales], "Unidades vendidas: ":[totalUnits] }
#valuesDict
resultFrame =pd.DataFrame.from_dict(valuesDict)
resultFrame

   Ventas totales:  Unidades vendidas:
0     2.904375e+09                  939

## Ventas por marca

In [48]:
salesByBranchFrame =  dataframe.groupby("Marca")[["Cantidad","Total"]].sum()
salesByBranchFrame.style

## Marca con mayor ventas

In [56]:
topOneBranchFrame = salesByBranchFrame["Total"].sort_values(ascending=False).head(1)
topOneBranchFrame = topOneBranchFrame.to_frame()
topOneBranchFrame.style

## Guardar dataframes en un nuevo libro de Excel

In [64]:
writer = pd.ExcelWriter("NuevoReporte.xlsx", engine="xlsxwriter")

#resultFrame.to_excel(writer,sheet_name="Resultados", index=False)
#salesByBranchFrame.to_excel(writer,sheet_name="Resumen por marca", startcol=1, startrow=1)
#topOneBranchFrame.to_excel(writer, sheet_name="Marca m√°s vendida")

#writer.save()

ModuleNotFoundError: No module named 'xlsxwriter'